---
import Layout from "../layouts/Layout.astro";
import Maker from "../components/Maker.astro";
import "../styles/global.css";
---

<Layout title="Who makes yourlostitem?">
  <main>
    <h1>
      Who makes <span class="text-gradient"
        ><a href="/" class="link-underline">yourlostitem</a></span
      >?
    </h1>
    <h2>Coming Soon.</h2>
  </main>
</Layout>
