---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Icon from 'astro-icon';
import '../styles/global.css'
---

<Layout title="Welcome to Viridium.">
  <main>
    <h1>Welcome to <span class="text-gradient">Your lost item</span></h1>
    <p class="instructions">
      A simple, fast and beautiful platfrom to search for things.
    </p>
    <!--- <Icon name="faMagnifyingGlassLocation" /> --->
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/yourlostitem"
        title="Main Org"
        body="See the code and other things for this site."
      />
      <Card
        href="https://github.com/yourlostitem/Web"
        title="Web"
        body="The source code for this website."
      />
	  <Card
        href="/roadmap/"
        title="Roadmap"
        body="The roadmap for this website."
      />
	  <Card
        href="/about/"
        title="About"
        body="About the people making this website."
      />
    </ul>
    <h1>
      Who is <a href="https://tinyurl.com/whoisjson">Jason</a>, <a
        href="https://www.youtube.com/watch?v=kvHc3e87Bfw">anyway?</a>
    </h1>
  </main>
</Layout>
