---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import  Icon  from 'astro-icon';
import '../styles/global.css'
---

<Layout title="The Plan for Your lost item">
  <main>
    <h1>What is the plan for <span class="text-gradient"><a href="/" class="link-underline">Your lost item</a></span>?</h1>
    <ol>
      <li>We get the design done in Figma (Internal).</li>
      <li>Start to implement the design and build the API</li>
      <li>Finish the API and Frontend, and start to introduce Interactivity and the DB.</li>
      <li>Complete all MVP features.</li>
      <li>Maintain and build aditional features (Oauth, 2FA, etc).</li>
    </ol>
    <h3>With plenty of <span class="text-gradient">procrastination</span><h3>
    <h2>And do not forget about the Easter Eggs.</h2>
  </main>
</Layout>
