---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import  Icon  from 'astro-icon';
import '../styles/global.css'
---

<Layout title="The Plan for yourlostitem">
  <main>
    <h1>Everything is <span class="text-gradient"><a href="/" class="link-underline">Coming Soon™.</a></span>?</h1>
  </main>
</Layout>
